LogLevel trace8
ServerName {{ .Env.SERVER_NAME }}
<VirtualHost *:{{ .Env.LISTEN_PORT_SSL }}>
	ServerAdmin webmaster@localhost
	DocumentRoot /var/www/html
	# Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
	# error, crit, alert, emerg.
	# It is also possible to configure the loglevel for particular
	# modules, e.g.

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined

	<Location "/galaxy/api/">
		Satisfy Any
		Allow from all
	</Location>

	ProxyPass / http://{{ .Env.BACKEND_NAME }}:{{ .Env.BACKEND_PORT }}/ retry=0
	<Location "/galaxy">
		AuthName "CAS"
		AuthType CAS
		Require valid-user
		# Because galaxy doesn't handle byte-range requests properly
		##XSendFile on
		##XSendFilePath /
		# Append mail domain
		RequestHeader set CAS-User "%{REMOTE_USER}s@{{ .Env.DOMAIN }}"
		RequestHeader set X-URL-SCHEME https
		ProxyPassReverse http://{{ .Env.BACKEND_NAME }}:{{ .Env.BACKEND_PORT }}/
	</Location>

	SSLEngine on
	SSLCertificateFile	/etc/ssl/certs/ssl-cert-snakeoil.pem
	SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
